body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  

.App {
    text-align: center;
    display:grid;
    grid-template-areas: 
    /* "header header" */
    "nav description";
    grid-template-rows: 50px 1fr;
    grid-template-columns: 300px 1fr;
    grid-gap: 10px;
  }
  
  
  /* .header {
    grid-area: header;
    background-color: #4a76a8;
    position: fixed;
    height: 50px;
    width: 100%;
    z-index: 10;
    text-align: left;
    color:white;
  } */
  .nav {
    position: fixed;
    /* top:8.7%; */
    grid-area: nav;
    padding: 1%;
    text-align: left;
    left: 20px;
    width: 275px;
  }
  .nav-header{
    padding-bottom: 10px;
    border-bottom:2px solid rgba(0,0,0,.12);
  }
  .div-link {
    margin: 20px 0;
  }
  .nav a {
    text-decoration: none;
    cursor: pointer;
    color:black;
    padding: 2%;
    display: block;
  }
  .nav a:hover {
    background-color: #b3d4fc;
    color: #000;
    text-shadow: none;
  }
  .description {
    grid-area: description;
    text-align: left;
  }
  
  .POST {
    background-color: #64b5f6;
    border-radius: 14px;
    display: inline-flex;
    line-height: 20px;
    max-width: 100%;
    outline: none;
    overflow: hidden;
    padding: 5px 10px;
    position: relative;
    color:white;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .content {
    padding-top: 10px;
    padding: 1%;
    border-left: 2px solid rgba(0,0,0,.12);
  }
  
  .table {
    padding:1% 2%;
    display: grid;
    grid-template-areas: 
    "name type description";
    grid-template-columns: 3fr 2fr 10fr;
  }
  .table span {
    display: block;
    font-weight: 600;
  }
  .table .name {
    grid-area: name;
  }
  .table .description {
    grid-area: description;
  }
  .table .type {
    grid-area:type;
  }
  span .required {
    display: inline;
    color:red;
  }
  .description span {
    font-weight: 300;
  }
  .name span {
    font-weight: 600;
  }
  .request{
    padding:1% 2%;
  }
  .response{
    padding:0 2%;}
  .request span{
    padding: 10px;
    line-height: 30px;
    font-size: 16px;
    margin: 0;
    border-radius: 4px;
    background: #41444e!important;
    font-family: monospace;
    font-weight: 600;
    color: #fff!important;
  }
  .request .link ,.response .link{
    padding: 10px;
    line-height: 25px;
    font-size: 16px;
    margin: 0;
    border-radius: 4px;
    background: #41444e!important;
    font-family: monospace;
    font-weight: 600;
    color: #fff!important;
    /* white-space: pre!important; */
  }
  h1{
    margin:0;
    font-size: 23px;
    font-weight: 500;
  }
  p{
    margin:0;
    padding:1% 0;
  }

  .description-health,.description-productivity{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 21;
    transform: translate(-50%, -50%);
    max-width: 850px;
    color: black;
    width: 100%;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #ededed;
    -webkit-box-shadow: 0 9px 18px 0 rgb(0 0 0 / 65%);
    box-shadow: 0 9px 18px 0 rgb(0 0 0 / 65%);
    padding: 80px 160px 60px;
  }
  .modal--close {
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}
  .active-link{
      color:blue;
      text-decoration: underline;
      cursor:pointer;
      
  }
  /* @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */
  